<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%- seo -%}
<link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/all.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
<head>
<body class="bg-dark">
    <div class="row vh-100" style="margin: 0px;">
        <div class="col-md-3" style="padding: 0px">
            {% include sidenav.html %}
        </div>
        <div class="col-md-8 vh-100">