<div class="containter">
    <div class="row">
        <!--Widget Start-->
        <div id="blog-widget" class="col-lg-10">
            <div class="card bg-dark text-white shadow">
                <div class="card-header">
                    <h3> Search </h3>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <div id="blog-widget" class="col-lg-10">
            <div class="card bg-dark text-white shadow">
                <div class="card-header">
                    <h3> Tags </h3>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <!--Widget End-->
    </div>
</div>